@import "tailwindcss";
@import "./keyframes.css";

@custom-variant dark (&:where(html.dark *));

@theme {
  /* Expondo as variáveis como tokens nativos do Tailwind 4 */
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-active: var(--color-primary-active);
  --color-primary-foreground: var(--color-primary-foreground);

  --color-secondary: var(--color-secondary);
  --color-secondary-hover: var(--color-secondary-hover);
  --color-secondary-active: var(--color-secondary-active);
  --color-secondary-foreground: var(--color-secondary-foreground);

  --color-bg: var(--color-bg);
  --color-bg-muted: var(--color-bg-muted);
  --color-surface: var(--color-surface);
  --color-surface-hover: var(--color-surface-hover);
  --color-border: var(--color-border);
  --color-border-strong: var(--color-border-strong);

  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
}

/* ========================= */
/* LIGHT MODE                */
/* ========================= */
:root {
  --color-primary: hsl(210 91% 45%);
  --color-primary-hover: hsl(210 91% 40%);
  --color-primary-active: hsl(210 91% 35%);
  --color-primary-foreground: hsl(0 10% 93%);

  --color-secondary: hsl(220 70% 20%);
  --color-secondary-hover: hsl(220 70% 17%);
  --color-secondary-active: hsl(220 70% 14%);
  --color-secondary-foreground: hsl(220 100% 98%);

  /* NEUTRALS */
  --color-bg: hsl(0 0% 100%);
  --color-bg-muted: hsl(0 0% 97%);
  --color-surface: hsl(0 0% 99%);
  --color-surface-hover: hsl(0 0% 96%);
  --color-border: hsl(0 0% 85%);
  --color-border-strong: hsl(0 0% 70%);
  --color-text: hsl(0 0% 7.5%);
  --color-text-muted: hsl(0 0% 40%);
}

/* ========================= */
/* DARK MODE                 */
/* ========================= */
:root.dark,
:root[data-theme="dark"] {
  --color-primary: hsl(210 91% 60%);
  --color-primary-hover: hsl(210 91% 55%);
  --color-primary-active: hsl(210 91% 50%);
  --color-primary-foreground: hsl(0 10% 6%);

  --color-secondary: hsl(220 70% 70%);
  --color-secondary-hover: hsl(220 70% 65%);
  --color-secondary-active: hsl(220 70% 60%);
  --color-secondary-foreground: hsl(220 60% 6%);

  --color-bg: hsl(0 0% 6%);
  --color-bg-muted: hsl(0 0% 10%);
  --color-surface: hsl(0 0% 12%);
  --color-surface-hover: hsl(0 0% 16%);
  --color-border: hsl(0 0% 22%);
  --color-border-strong: hsl(0 0% 32%);
  --color-text: hsl(0 0% 92%);
  --color-text-muted: hsl(0 0% 70%);

  --color-feedback-error: hsl(4 89% 58%);
  --color-feedback-warning: hsl(36 100% 50%);
  --color-feedback-success: hsl(122 39% 54%);
  --color-feedback-info: hsl(207 90% 57%);

  --color-complementary-highlight: hsl(39 100% 50%);

  --breakpoint-sm: 680px;
  --breakpoint-tablet: 768px;
  --breakpoint-md: 900px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;

  --background-image-effect-granula: url("/effectgranula.png");

  --min-height-screen-nav: calc(100vh - 5rem);
}
